@page "/grpc"
@inject Link.LinkClient GreetClient
@using grpc;
@using app;
@using grpc.Services

<h3>gRPC Client in Blazor</h3>

<button type="button" @onclick="SendGreeting">Send Greeting</button>

<p>@responseMessage</p>

@code {
    private string responseMessage;

    private async Task SendGreeting()
    {
        var request = new HelloRequestCount { Name = "Blazor" };
        var response = await GreeterService.SayHelloStream(/* ? */);
        responseMessage = response.Message;
    }
}
