@page "/grpc"

@* injection du service via le composant *@
@inject Merge.MergeClient Merge

@using grpc;
@using app;
@using grpc.Services


<h3>gRPC Client in Blazor</h3>

<button class="btn-grpc" type="button" @onclick="CallBroadcast">appel diffusion grpc</button>

<p> response server: @responseMessage</p>
    



