<!-- File: Shared/MainMenu.razor -->
<nav>
    <ul>
        <li>
            <a href="#">Home</a>
            <Submenu />
        </li>
        <li>
            <a href="#">About</a>
            
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
    </ul>
</nav>

@code {
    // Code C# (si nécessaire) peut être ajouté ici.
}
