<!-- File: Shared/MainMenu.razor -->
<nav>
    <ul>
        <li>
            <a href="#">Home</a>
            <Submenu />
        </li>
        <li>
            <a href="#">About</a>
            
            @* <div class="nav-item px-3">
                <NavLink class="nav-link" href="weather">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
                </NavLink>
            </div> *@
            
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
    </ul>
</nav>

@code {
    // Code C# (si nécessaire) peut être ajouté ici.
}
