<!-- File: Shared/SubMenu.razor -->
<ul class="submenu">
    <li>
        
        <a href="#">Sub-item 1</a>
    </li>
    <li>
        <a href="#">Sub-item 2</a>
    </li>
    <li>
        <a href="#">Sub-item 3</a>
    </li>
    <li>
        <a href="Boulai">alhann</a>

    </li>
</ul>


   


@code {
    // Code C# (si nécessaire) peut être ajouté ici.
}
